<div class="slider-wrapper theme-dmzx-nivoslider squared-controlNav">
	<div class="ribbon"></div>
	<div id="nivoslider" class="nivoSlider">

		<!-- IF SLIDER_SL1_URL --><a href="{SLIDER_SL1_URL}"><!-- ENDIF --><!-- IF SLIDER_SL1_IMG --><img src="{BOARD_URL}ext/dmzx/nivoslider/images/{SLIDER_SL1_IMG}" alt="" <!-- IF SLIDER_SL1_CAP -->title="{SLIDER_SL1_CAP}"<!-- ENDIF -->><!-- ENDIF --><!-- IF SLIDER_SL1_URL --></a><!-- ENDIF -->

		<!-- IF SLIDER_SL2_URL --><a href="{SLIDER_SL2_URL}"><!-- ENDIF --><!-- IF SLIDER_SL2_IMG --><img src="{BOARD_URL}ext/dmzx/nivoslider/images/{SLIDER_SL2_IMG}" alt="" <!-- IF SLIDER_SL2_CAP -->title="{SLIDER_SL2_CAP}"<!-- ENDIF -->><!-- ENDIF --><!-- IF SLIDER_SL2_URL --></a><!-- ENDIF -->

		<!-- IF SLIDER_SL3_URL --><a href="{SLIDER_SL3_URL}"><!-- ENDIF --><!-- IF SLIDER_SL3_IMG --><img src="{BOARD_URL}ext/dmzx/nivoslider/images/{SLIDER_SL3_IMG}" alt="" <!-- IF SLIDER_SL3_CAP -->title="{SLIDER_SL3_CAP}"<!-- ENDIF -->><!-- ENDIF --><!-- IF SLIDER_SL3_URL --></a><!-- ENDIF -->

		<!-- IF SLIDER_SL4_URL --><a href="{SLIDER_SL4_URL}"><!-- ENDIF --><!-- IF SLIDER_SL4_IMG --><img src="{BOARD_URL}ext/dmzx/nivoslider/images/{SLIDER_SL4_IMG}" alt="" <!-- IF SLIDER_SL4_CAP -->title="{SLIDER_SL4_CAP}"<!-- ENDIF -->><!-- ENDIF --><!-- IF SLIDER_SL4_URL --></a><!-- ENDIF -->

		<!-- IF SLIDER_SL5_URL --><a href="{SLIDER_SL5_URL}"><!-- ENDIF --><!-- IF SLIDER_SL5_IMG --><img src="{BOARD_URL}ext/dmzx/nivoslider/images/{SLIDER_SL5_IMG}" alt="" <!-- IF SLIDER_SL5_CAP -->title="{SLIDER_SL5_CAP}"<!-- ENDIF -->><!-- ENDIF --><!-- IF SLIDER_SL5_URL --></a><!-- ENDIF -->

		<!-- IF SLIDER_SL6_URL --><a href="{SLIDER_SL6_URL}"><!-- ENDIF --><!-- IF SLIDER_SL6_IMG --><img src="{BOARD_URL}ext/dmzx/nivoslider/images/{SLIDER_SL6_IMG}" alt="" <!-- IF SLIDER_SL6_CAP -->title="{SLIDER_SL6_CAP}"<!-- ENDIF -->><!-- ENDIF --><!-- IF SLIDER_SL6_URL --></a><!-- ENDIF -->

		<!-- IF SLIDER_SL7_URL --><a href="{SLIDER_SL7_URL}"><!-- ENDIF --><!-- IF SLIDER_SL7_IMG --><img src="{BOARD_URL}ext/dmzx/nivoslider/images/{SLIDER_SL7_IMG}" alt="" <!-- IF SLIDER_SL7_CAP -->title="{SLIDER_SL7_CAP}"<!-- ENDIF -->><!-- ENDIF --><!-- IF SLIDER_SL7_URL --></a><!-- ENDIF -->

		<!-- IF SLIDER_SL8_URL --><a href="{SLIDER_SL8_URL}"><!-- ENDIF --><!-- IF SLIDER_SL8_IMG --><img src="{BOARD_URL}ext/dmzx/nivoslider/images/{SLIDER_SL8_IMG}" alt="" <!-- IF SLIDER_SL8_CAP -->title="{SLIDER_SL8_CAP}"<!-- ENDIF -->><!-- ENDIF --><!-- IF SLIDER_SL8_URL --></a><!-- ENDIF -->
	</div>
</div>
